---
import DefaultLayout from "../../Layouts/DefaultLayout.astro";
export async function getStaticPaths() {
  const response = await fetch(" http://localhost:3000/posts");
  const posts = await response.json();
  return posts.map((post) => {
    return {
      params: { id: post.id },
    };
  });
}
const { id } = Astro.params;

const postResponse = await fetch(`http://localhost:3000/posts/${id}`);
const { title, description, content, created_at } = await postResponse.json();
---

<DefaultLayout>
  <div>
    <article class="text-black max-w-2xl mx-auto px-5 py-6 flex flex-col gap-2 rounded-2xl">
      <img
        src="https://images.pexels.com/photos/16652251/pexels-photo-16652251/free-photo-of-woman-standing-with-camera-among-flowers.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        alt=""
      />
      <h2 class="font-bold text-2xl">{title}</h2>
      <p>{description}</p>
      <p>{content}</p>
    </article>
  </div>
</DefaultLayout>
