---
const {title, description} = Astro.props;
---

<article
  class="bg-[#1b1c23] text-white max-w-sm px-5 py-6 flex flex-col gap-2 rounded-2xl"
>
  <img
    src="https://images.pexels.com/photos/16652251/pexels-photo-16652251/free-photo-of-woman-standing-with-camera-among-flowers.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
    alt=""
  />
  <h2 class="font-bold text-2xl">{title}</h2>
  <p class="text-gray-300">{description}</p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla quis laborum
    iste consectetur explicabo impedit, totam veritatis sit, tempora mollitia,
    aliquid sequi quaerat aspernatur tenetur eligendi quisquam soluta! Ipsam,
    nobis?
  </p>
  <p class="text-green-300">03/17/2024</p>
</article>
