---

---

<article class="bg-orange-800">
  <img
    src="https://images.pexels.com/photos/19056314/pexels-photo-19056314/free-photo-of-ess-in-the-woods.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
    alt=""
  />
  <h2>Title post</h2>
  <p>Description</p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla quis laborum
    iste consectetur explicabo impedit, totam veritatis sit, tempora mollitia,
    aliquid sequi quaerat aspernatur tenetur eligendi quisquam soluta! Ipsam,
    nobis?
  </p>
  <p>03/17/2024</p>
</article>
